@model Borrow.Models.Views.AddItem.AddItemViewModel
@{
    ViewBag.Title = "New Item";
}


<div class="text-center">
    <h1 class="display-4">Excellent! We added @Model.ItemsToSave.Count item(s) to your profile!</h1>
    <p>To View your new items, go to your Profile!</p>
</div>
