@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your Neighborhood HUB!</h1>
</div>


@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager
@if (signInManager.IsSignedIn(User))
{
    //links for signed in peeps
    <div>
        <a asp-action="UserListings" asp-controller="Listings" asp-area="" class="nav-link">View Your Listed Items</a>
    </div>
}

