@model Borrow.Models.Views.Home.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}



@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager
@if (signInManager.IsSignedIn(User))
{
    //links for signed in peeps
    <div>
        <div class="text-center">
            <h1 class="display-4">Welcome, @Model.FirstName, to @Model.NeighborhoodName's Neighborhood hub!</h1>
        </div>
        <a asp-action="UserListings" asp-controller="Listings" asp-area="" class="nav-link">View Your Listed Items</a>
        <a asp-action="NeighborhoodListings" asp-controller="Listings" asp-area="" class="nav-link">View Listings at @Model.NeighborhoodName</a>
        <a asp-action="IncomingRequests" asp-controller="Listings" asp-area="" class="nav-link">View my offers!</a>
        <a asp-action="OutgoingRequests" asp-controller="Listings" asp-area="" class="nav-link">View my requests!</a>
    </div>
}
else{

    <div class="text-center">
        <h1 class="display-4">Welcome to your Neighborhood HUB! Please sign in</h1>
    </div>
}

