@model Borrow.Models.Views.Listing.CreateListingViewModel
@{
    ViewBag.Title = "Publish Listing";
}

<h1>Select one of your items to list</h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="row">
    <div>
        <table style="width:100%">
            <tr>
                <th>Item</th>
                <th>Description</th>
                <th></th>
            </tr>
            @for (int i = 0; i < Model.AvailableItems.Count(); ++i)
            {
                var item = Model.AvailableItems[i];
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @using (Html.BeginForm("PublishListing", "Listings", FormMethod.Get))
                        {
                            <button class="btn btn-primary" type="submit" name="itemId" value=@item.ItemId>List</button>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
