@model Borrow.Models.User

@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        /* all of the CSS styles from figure 2-14 go here */
    </style>
</head>
<body>
    <form asp-action="Index" method="post">
        <div>
            <label asp-for="UserName">Username</label>
            <input asp-for="UserName" />
        </div>
        <div>
            <label asp-for="PasswordHash">Password</label>
            <input asp-for="PasswordHash" />
        </div>
       
        <button asp-controller ="Login" asp-action ="Login" type="submit">Login</button>
    </form>
</body>
</html>