@model Borrow.Models.User
@{
    ViewData["Title"] = "User Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your Home Page to Borrow, @Model.FirstName, God giveth and God Taketh</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
