@model Borrow.Models.Views.Requests.IncomingRequestsViewModel

<h1>Here are your incoming Requests</h1>
<div>
    <div>
        <table style="width:100%">
            <tr>
                <th>Item</th>
                <th>Requester</th>
                <th>Rate</th>
                <th>Iterations</th>
                <th>Status</th>
                <th></th>
            </tr>
            @for (int i = 0; i < Model.RequestViewModels.Count(); ++i)
            {
                var item = Model.RequestViewModels[i];
                <tr>
                    <td>
                        @item.ItemName
                    </td>
                    <td>
                        @item.Requester
                    </td>
                    <td>
                        @item.Rate
                    </td>
                    <td>
                        @item.Periods
                    </td>
                    <td>
                        @switch ((RequestEnums.Status)item.StatusId)
                        {
                            case RequestEnums.Status.Expired:
                                <label>Expired</label>
                                break;
                            case RequestEnums.Status.Declined:
                                <label>Declined</label>
                                break;
                            case RequestEnums.Status.Lent:
                                <label>Lent</label>
                                break;
                            case RequestEnums.Status.ConfirmedMeetUp:
                                <label>ConfirmedMeetUp</label>
                                break;
                            case RequestEnums.Status.Accepted:
                                if (((RequestEnums.PendingActionFrom)item.PendingActionFromId) == RequestEnums.PendingActionFrom.Lender)
                                {
                                    <label>Waiting on Lender to Confirm your Time</label>
                                }
                                else
                                {
                                    <label>Lender wants a meet up time</label>
                                }
                                break;
                            case RequestEnums.Status.Viewed:
                                <label>Viewed by Owner</label>
                                break;
                            default:
                                <label> Something is pending</label>
                                break;

                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("ViewIncomingRequest", "Request", FormMethod.Get))
                        {
                            <button class="btn btn-primary" type="submit" name="requestId" value=@item.RequestId>View</button>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
