@model UserBorrowRequestsViewModel

<h1>Here are your incoming Requests</h1>
<div>
    <div>
        <table style="width:100%">
            <tr>
                <th>Item</th>
                <th>Owner</th>
                <th>Requested Created</th>
                <th>Status</th>
                <th></th>
            </tr>
            @for (int i = 0; i < Model.Incoming.Count(); ++i)
            {
                var item = Model.Incoming[i];
                <tr>
                    <td>
                        @item.Item
                    </td>
                    <td>
                        @item.OwnerUserName
                    </td>
                    <td>
                        @item.CreatedDateUtc
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td>THIS WILL BE CANCEL BUTTON</td>
                </tr>
            }
        </table>
    </div>
</div>