@model Borrow.Models.Views.Requests.IncomingRequestsViewModel

<h1>Here are your incoming Requests</h1>
<div>
    <div>
        <table style="width:100%">
            <tr>
                <th>Item</th>
                <th>Requester</th>
                <th>Rate</th>
                <th>Iterations</th>
                <th>Status</th>
                <th></th>
            </tr>
            @for (int i = 0; i < Model.RequestViewModels.Count(); ++i)
            {
                var item = Model.RequestViewModels[i];
                <tr>
                    <td>
                        @item.ItemName
                    </td>
                    <td>
                        @item.Requester
                    </td>
                    <td>
                        @item.Rate
                    </td>
                    <td>
                        @item.Periods
                    </td>
                    <td>
                        @if(item.CurrentStatus.HasFlag(Request.RequestStatus.Expired))
                        {
                            <label>Expired</label>
                        }
                        else if (item.CurrentStatus.HasFlag(Request.RequestStatus.Declined))
                        {
                            <label>Declined</label>
                        }
                        else if (item.CurrentStatus.HasFlag(Request.RequestStatus.Lent))
                        {
                            <label>Currently Lent</label>
                        }
                        else if (item.CurrentStatus.HasFlag(Request.RequestStatus.ConfirmedMeetUp))
                        {
                            <label>Time to meetup!</label>
                        }
                        else if (item.CurrentStatus.HasFlag(Request.RequestStatus.Accepted))
                        {
                            if (item.ActionNeededFrom.Equals(Request.WaitingOn.Lender))
                            {
                                <label>Waiting on Lender to Confirm your Time</label>
                            }
                            else{
                                <label>Lender wants a different Time</label>
                            }
                        }
                        else if (item.CurrentStatus.HasFlag(Request.RequestStatus.Viewed))
                        {
                            <label>Viewed by Lender</label>
                        }
                        else //pending
                        {
                            <label>WTF</label>
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("ViewIncomingRequest", "Request", FormMethod.Get))
                        {
                            <button class="btn btn-primary" type="submit" name="requestId" value=@item.RequestId>View</button>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
