@model Borrow.Models.Views.TableViews.RequestViewModel
@{
    ViewBag.Title = "CreateOffer";
}

<h1>Create Your Offer for @Model.ItemName! </h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post" asp-action="RequestItem">
    <div class="form-group row">
        <div class="col-sm-2"><label>Select a term:</label></div>
        <div class="col-sm-4">
            <select asp-for="RequestType" asp-items="Html.GetEnumSelectList<Request.RequestType>()"></select>
        </div>
        <div class="col">
            <span asp-validation-for="RequestType"
                  class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"><label>Last Name:</label></div>
        <div class="col-sm-4">
            <input asp-for="RequestRate" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="RequestRate"
                  class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"><label>Return Date:</label></div>
        <div class="col-sm-4">
            <input asp-for="ReturnDate" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="ReturnDate"
                  class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Submit Offer</button>
        </div>
    </div>
    @Html.HiddenFor(m=>m.ItemId);
    @Html.HiddenFor(m=>m.ItemName);
</form>