@model Borrow.Models.Views.Home.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="text-center">
        <h1 class="display-4">Sorry!</h1>
        <h2>We were unable to add your account because your neighborhood hasn't been added into our database.
             Please submit a request to add your neighborhood! Thank you for understanding.</h2>
    </div>
</div>


